In [1]:
import pandas as pd

In [2]:
# read xlsx file - data/synop/mapa_zawartosci_synop.xlsx
df = pd.read_excel('data/synop/stations/mapa_zawartosci_synop.xlsx')

# subset stations that have 'x' in column 'in research paper', select all but last column
df = df[df['in research paper'] == 'x'].iloc[:, :-2]

df

    METEO_code                 name  longitude   latitude
0          295            BIAŁYSTOK  23.162222  53.107222
3          235             CHOJNICE  17.532500  53.715278
9          300  GORZÓW WIELKOPOLSKI  15.277222  52.741111
12         500         JELENIA GÓRA  15.788889  50.900278
13         435               KALISZ  18.081944  51.781944
14         650      KASPROWY WIERCH  19.981944  49.232500
15         560   KATOWICE-MUCHOWIEC  19.032778  50.240556
18         520              KŁODZKO  16.614167  50.436944
20         100  KOŁOBRZEG-DŹWIRZYNO  15.388889  54.158333
21         105             KOSZALIN  16.155556  54.204444
23         566        KRAKÓW-BALICE  19.801944  50.080278
26         690                LESKO  22.341667  49.466389
31         465        ŁÓDŹ-LUBLINEK  19.399722  51.723333
32         280            MIKOŁAJKI  21.588611  53.789444
36         530                OPOLE  17.968889  50.626944
40         330        POZNAŃ-ŁAWICA  16.835833  52.417222
49         195              SUWAŁKI  22.948889  54.130833
50         205             SZCZECIN  14.622778  53.395278
52         510              ŚNIEŻKA  15.739444  50.736111
55         399             TERESPOL  23.621389  52.078333
56         250                TORUŃ  18.595278  53.041944
58         375      WARSZAWA-OKĘCIE  20.961111  52.162778
60         497              WŁODAWA  23.529444  51.553333
62         625             ZAKOPANE  19.960278  49.293889
65         400         ZIELONA GÓRA  15.524444  51.930278

In [3]:
# read data/synop/wykaz_stacji.csv, custom encoding, no header
df2 = pd.read_csv('data/synop/stations/wykaz_stacji.csv', encoding='ISO-8859-2', header=None)

# convert to dataframe
df2 = pd.DataFrame(df2)

# set header as:
# | station_code | name | METEO_code |

df2.columns = ['station_code','name', 'METEO_code']

df2

      station_code           name  METEO_code
0        250180460      ADAMOWICE       95414
1        254230010  ALEKSANDRÓWKA       91908
2        250190430       ALWERNIA       95506
3        250210030        ANNOPOL       95751
4        249199978      ANTAŁÓWKA        6522
...            ...            ...         ...
2144     253190270        ŻUROMIN       92504
2145     252190120        ŻYCHLIN       93514
2146     254220010      ŻYTKIEJMY       91820
2147     249199975         ŻYWIEC       96597
2148     249199992         ŻYWIEC        6509

[2149 rows x 3 columns]

In [14]:
# join station_code from df2 to df using METEO_code
df3 = pd.merge(df, df2[['station_code', 'METEO_code']], on='METEO_code')

# put station_code as first column
cols = df3.columns.tolist()
cols = cols[-1:] + cols[:-1]
df3 = df3[cols]

df3

    station_code  METEO_code                 name  longitude   latitude
0      353230295         295            BIAŁYSTOK  23.162222  53.107222
1      353170235         235             CHOJNICE  17.532500  53.715278
2      352150300         300  GORZÓW WIELKOPOLSKI  15.277222  52.741111
3      350150500         500         JELENIA GÓRA  15.788889  50.900278
4      351180435         435               KALISZ  18.081944  51.781944
5      349190650         650      KASPROWY WIERCH  19.981944  49.232500
6      350190560         560   KATOWICE-MUCHOWIEC  19.032778  50.240556
7      350160520         520              KŁODZKO  16.614167  50.436944
8      354150100         100  KOŁOBRZEG-DŹWIRZYNO  15.388889  54.158333
9      354160105         105             KOSZALIN  16.155556  54.204444
10     350190566         566        KRAKÓW-BALICE  19.801944  50.080278
11     349220690         690                LESKO  22.341667  49.466389
12     351190465         465        ŁÓDŹ-LUBLINEK  19.399722  51.723333
13     353210280         280            MIKOŁAJKI  21.588611  53.789444
14     350170530         530                OPOLE  17.968889  50.626944
15     352160330         330        POZNAŃ-ŁAWICA  16.835833  52.417222
16     354220195         195              SUWAŁKI  22.948889  54.130833
17     353140205         205             SZCZECIN  14.622778  53.395278
18     350150510         510              ŚNIEŻKA  15.739444  50.736111
19     352230399         399             TERESPOL  23.621389  52.078333
20     353180250         250                TORUŃ  18.595278  53.041944
21     352200375         375      WARSZAWA-OKĘCIE  20.961111  52.162778
22     351230497         497              WŁODAWA  23.529444  51.553333
23     349190625         625             ZAKOPANE  19.960278  49.293889
24     351150400         400         ZIELONA GÓRA  15.524444  51.930278

In [5]:
# visit url and get table using pandas
url = 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/'

urls_df = pd.read_html(url)

# for some reason all outer rows and columns are empty
# so we need to remove them
urls_df = urls_df[0].iloc[1:, 1:]

# del first row, last row
urls_df = urls_df.iloc[1:-1]

urls_df

              Name     Last modified Size  Description
2   2022_100_s.zip  2023-01-30 11:52  14K          NaN
3   2022_105_s.zip  2023-01-30 11:52  13K          NaN
4   2022_115_s.zip  2023-01-30 11:52  12K          NaN
5   2022_120_s.zip  2023-02-01 12:09  15K          NaN
6   2022_125_s.zip  2023-01-30 11:52  12K          NaN
7   2022_135_s.zip  2023-01-30 11:52  13K          NaN
8   2022_155_s.zip  2023-01-30 11:52  13K          NaN
9   2022_160_s.zip  2023-01-30 11:52  13K          NaN
10  2022_185_s.zip  2023-01-30 11:52  13K          NaN
11  2022_195_s.zip  2023-01-30 11:52  13K          NaN
12  2022_200_s.zip  2023-01-30 11:52  13K          NaN
13  2022_205_s.zip  2023-01-30 11:52  13K          NaN
14  2022_210_s.zip  2023-02-07 09:23  13K          NaN
15  2022_230_s.zip  2023-01-30 11:52  13K          NaN
16  2022_235_s.zip  2023-01-30 11:52  13K          NaN
17  2022_250_s.zip  2023-01-30 11:52  13K          NaN
18  2022_270_s.zip  2023-01-30 11:52  13K          NaN
19  2022_272_s.zip  2023-01-30 11:52  12K          NaN
20  2022_280_s.zip  2023-01-30 11:52  13K          NaN
21  2022_295_s.zip  2023-02-01 12:09  14K          NaN
22  2022_300_s.zip  2023-01-30 11:52  13K          NaN
23  2022_310_s.zip  2023-01-30 11:52  13K          NaN
24  2022_330_s.zip  2023-01-30 11:52  15K          NaN
25  2022_360_s.zip  2023-01-30 11:52  13K          NaN
26  2022_375_s.zip  2023-02-01 12:10  15K          NaN
27  2022_385_s.zip  2023-01-30 11:52  13K          NaN
28  2022_399_s.zip  2023-01-30 11:52  13K          NaN
29  2022_400_s.zip  2023-02-01 12:10  14K          NaN
30  2022_415_s.zip  2023-02-01 12:10  13K          NaN
31  2022_418_s.zip  2023-01-30 11:52  13K          NaN
32  2022_424_s.zip  2023-02-01 12:10  16K          NaN
33  2022_435_s.zip  2023-02-01 12:11  13K          NaN
34  2022_455_s.zip  2023-02-01 12:11  13K          NaN
35  2022_465_s.zip  2023-02-01 12:11  16K          NaN
36  2022_469_s.zip  2023-02-01 12:11  13K          NaN
37  2022_488_s.zip  2023-02-01 12:12  16K          NaN
38  2022_495_s.zip  2023-02-01 12:12  13K          NaN
39  2022_497_s.zip  2023-02-01 12:12  14K          NaN
40  2022_500_s.zip  2023-02-01 12:12  14K          NaN
41  2022_510_s.zip  2023-01-30 11:52  16K          NaN
42  2022_520_s.zip  2023-02-01 12:12  13K          NaN
43  2022_530_s.zip  2023-02-01 12:12  14K          NaN
44  2022_540_s.zip  2023-02-01 12:12  13K          NaN
45  2022_550_s.zip  2023-02-01 12:12  13K          NaN
46  2022_560_s.zip  2023-02-01 12:13  13K          NaN
47  2022_566_s.zip  2023-02-01 12:13  15K          NaN
48  2022_570_s.zip  2023-02-01 12:13  14K          NaN
49  2022_575_s.zip  2023-02-01 12:13  13K          NaN
50  2022_580_s.zip  2023-02-01 12:13  15K          NaN
51  2022_585_s.zip  2023-02-01 12:14  14K          NaN
52  2022_595_s.zip  2023-02-01 12:14  12K          NaN
53  2022_600_s.zip  2023-01-30 11:52  13K          NaN
54  2022_625_s.zip  2023-02-01 12:14  14K          NaN
55  2022_628_s.zip  2023-01-30 11:52  13K          NaN
56  2022_650_s.zip  2023-02-01 12:14  16K          NaN
57  2022_660_s.zip  2023-01-30 11:52  13K          NaN
58  2022_670_s.zip  2023-02-01 12:14  14K          NaN
59  2022_690_s.zip  2023-02-01 12:14  14K          NaN

In [6]:
# visit url and get urls present on the page
import requests
from bs4 import BeautifulSoup

url = 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/'

page = requests.get(url)

soup = BeautifulSoup(page.content, 'html.parser')

# find all links
links = soup.find_all('a')

# get href attribute
urls = [link.get('href') for link in links]

# filter only .zip files
urls = [url + x for x in urls if x.endswith('.zip')]

urls

['https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_100_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_105_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_115_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_120_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_125_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_135_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_155_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_160_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_185_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_195_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_200_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_205_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_210_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_230_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_235_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_250_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_270_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_272_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_280_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_295_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_300_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_310_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_330_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_360_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_375_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_385_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_399_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_400_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_415_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_418_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_424_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_435_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_455_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_465_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_469_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_488_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_495_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_497_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_500_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_510_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_520_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_530_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_540_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_550_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_560_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_566_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_570_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_575_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_580_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_585_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_595_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_600_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_625_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_628_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_650_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_660_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_670_s.zip',
 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_690_s.zip']

## Zip links to csv files

In [7]:
import pandas as pd
import requests
import zipfile
import os
from io import BytesIO
from tempfile import TemporaryDirectory

In [8]:
# Directory to extract files
extract_path = 'data/synop/imgw/2022'

In [9]:
# create directory for zip files
os.makedirs('data/synop/imgw/2022', exist_ok=True)

In [10]:
df3['METEO_code'].values.dtype

dtype('int64')

In [11]:
len(df3['METEO_code'].values)

25

In [12]:
# Process each URL
for url in urls:
    # Extract METEO code from URL
   # example url:  'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_280_s.zip',
    meteo_code = int(url.split('_')[-2])

    # Check if METEO code is in DataFrame
    if meteo_code in df3['METEO_code'].values:

        print(f"Processing METEO code {meteo_code}")

        # Download zip file
        response = requests.get(url)
        if response.status_code == 200:
            
            # Use a temporary directory to handle the zip file
            with TemporaryDirectory() as tmpdirname:
                zip_path = os.path.join(tmpdirname, 'tempfile.zip')
                with open(zip_path, 'wb') as f:
                    f.write(response.content)
                
                # Extract zip file
                with zipfile.ZipFile(zip_path, 'r') as zip_ref:
                    zip_ref.extractall(extract_path)

        else:
            print(f"Failed to download from {url}")

Processing METEO code 100
Processing METEO code 105
Processing METEO code 195
Processing METEO code 205
Processing METEO code 235
Processing METEO code 250
Processing METEO code 280
Processing METEO code 295
Processing METEO code 300
Processing METEO code 330
Processing METEO code 375
Processing METEO code 399
Processing METEO code 400
Processing METEO code 435
Processing METEO code 465
Processing METEO code 497
Processing METEO code 500
Processing METEO code 510
Processing METEO code 520
Processing METEO code 530
Processing METEO code 560
Processing METEO code 566
Processing METEO code 625
Processing METEO code 650
Processing METEO code 690

### improved code
- download synop data for given year and station codes -> .7z file

In [19]:
import py7zr

def process_meteo_data(year, filter_codes=None):
    """Process meteorological data by downloading, extracting, and repacking CSV files in 7z format from scraped URLs."""
    base_url = f'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/{year}/'
    urls = scrape_zip_urls(base_url)

    base_dir = f'data/synop/imgw/{year}'
    base_7z_path = f'{base_dir}/collected_data.7z'
    os.makedirs(base_dir, exist_ok=True)

    with py7zr.SevenZipFile(base_7z_path, 'w') as base_7z:
        for url in urls:
            meteo_code = int(url.split('_')[-2])

            if filter_codes is None or meteo_code in filter_codes:
                print(f"Processing METEO code {meteo_code}")

                response = requests.get(url)
                if response.status_code == 200:
                    with TemporaryDirectory() as tmpdirname:
                        zip_path = os.path.join(tmpdirname, 'tempfile.zip')
                        with open(zip_path, 'wb') as f:
                            f.write(response.content)

                        # Extract zip and repack in 7z format
                        with zipfile.ZipFile(zip_path, 'r') as zip_ref:
                            zip_ref.extractall(tmpdirname)

                            # Collect all CSV files from extracted content
                            for file_name in os.listdir(tmpdirname):
                                if file_name.endswith('.csv'):
                                    csv_path = os.path.join(tmpdirname, file_name)
                                    base_7z.write(csv_path, arcname=os.path.basename(file_name))
                else:
                    print(f"Failed to download from {url}")
            else:
                print(f"Skipping METEO code {meteo_code} not in filter list")

# Example function call - to uncomment in real use
process_meteo_data(2022, filter_codes=df3['METEO_code'].values)

Processing METEO code 100
Processing METEO code 105
Skipping METEO code 115 not in filter list
Skipping METEO code 120 not in filter list
Skipping METEO code 125 not in filter list
Skipping METEO code 135 not in filter list
Skipping METEO code 155 not in filter list
Skipping METEO code 160 not in filter list
Skipping METEO code 185 not in filter list
Processing METEO code 195
Skipping METEO code 200 not in filter list
Processing METEO code 205
Skipping METEO code 210 not in filter list
Skipping METEO code 230 not in filter list
Processing METEO code 235
Processing METEO code 250
Skipping METEO code 270 not in filter list
Skipping METEO code 272 not in filter list
Processing METEO code 280
Processing METEO code 295
Processing METEO code 300
Skipping METEO code 310 not in filter list
Processing METEO code 330
Skipping METEO code 360 not in filter list
Processing METEO code 375
Skipping METEO code 385 not in filter list
Processing METEO code 399
Processing METEO code 400
Skipping METEO code 415 not in filter list
Skipping METEO code 418 not in filter list
Skipping METEO code 424 not in filter list
Processing METEO code 435
Skipping METEO code 455 not in filter list
Processing METEO code 465
Skipping METEO code 469 not in filter list
Skipping METEO code 488 not in filter list
Skipping METEO code 495 not in filter list
Processing METEO code 497
Processing METEO code 500
Processing METEO code 510
Processing METEO code 520
Processing METEO code 530
Skipping METEO code 540 not in filter list
Skipping METEO code 550 not in filter list
Processing METEO code 560
Processing METEO code 566
Skipping METEO code 570 not in filter list
Skipping METEO code 575 not in filter list
Skipping METEO code 580 not in filter list
Skipping METEO code 585 not in filter list
Skipping METEO code 595 not in filter list
Skipping METEO code 600 not in filter list
Processing METEO code 625
Skipping METEO code 628 not in filter list
Processing METEO code 650
Skipping METEO code 660 not in filter list
Skipping METEO code 670 not in filter list
Processing METEO code 690

## Database


### Comprehensive Database Schema

1. **Station Table**:
    
    - **Station_Code** (integer, unique, primary key)
    - **METEO_Code** (integer, unique)
    - **Station_Name** (string)

2. **Weather Data Table**:
    
    - **Weather_ID** (Primary Key, auto-increment, integer)
    - **Station_ID** (Foreign Key, references Station Table)
    - **Date** (date, constructed from Year, Month, Day)
    - **Max_Daily_Temperature** (float, nullable)
    - **Min_Daily_Temperature** (float, nullable)
    - **Avg_Daily_Temperature** (float, nullable)
    - **Total_Daily_Precipitation** (float, nullable)
    - **Sunshine_Hours** (float, nullable)
    - **Actinometry** (float, nullable) // Solar irradiance measured in Joules per square centimeter
    - **Avg_Daily_Overall_Cloudiness** (float, nullable)
    - **Wind_Duration_Over_10m_s** (float, nullable) // Duration in hours
    - **Avg_Daily_Wind_Speed** (float, nullable)

### Create Tables

In [22]:
# use SQLite to store data
import sqlite3

# create connection
conn = sqlite3.connect('data/synop/synop.db')

# create cursor
cursor = conn.cursor()

#### Stations

In [23]:
# delete table if exists
cursor.execute('DROP TABLE IF EXISTS Stations')

In [24]:
cursor.execute('''
CREATE TABLE Stations (
    Station_Code INT UNIQUE PRIMARY KEY,
    METEO_Code INT UNIQUE,
    Station_Name VARCHAR(255)
);
''')

#### WeatherSDT

In [25]:
# Path to the directory containing the CSV files
directory = 'data/synop/imgw/2022'

In [26]:
## weather SDT table if not exists
cursor.execute('''
CREATE TABLE IF NOT EXISTS WeatherSDT (
    Record_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    Station_ID INTEGER,
    Date DATE,
    Avg_Daily_Overall_Cloudiness REAL,
    Avg_Daily_Wind_Speed REAL,
    FOREIGN KEY (Station_ID) REFERENCES Station(Station_ID)
);
''')

#### WeatherSD

In [27]:
## weather SD table if not exists
cursor.execute('''
CREATE TABLE IF NOT EXISTS WeatherSD (
    Record_ID INTEGER PRIMARY KEY AUTOINCREMENT,
    Station_ID INTEGER,
    Date DATE,
    Max_Daily_Temperature REAL,
    Min_Daily_Temperature REAL,
    Avg_Daily_Temperature REAL,
    Total_Daily_Precipitation REAL,
    Sunshine_Hours REAL,
    Actinometry REAL,
    Wind_Duration_Over_10m_s REAL,
    FOREIGN KEY (Station_ID) REFERENCES Station(Station_ID)
);
''')

### Insert data

#### Station data

In [28]:
# Station data

# Path to the CSV file containing station data
csv_file_path = 'data/synop/stations/station_info.csv'

# Connect to the SQLite database
conn = sqlite3.connect('data/synop/synop.db')
cursor = conn.cursor()

# Read the CSV file containing station information
station_data = pd.read_csv(csv_file_path)

# SQL query to insert station data into the Station table
insert_query = '''
INSERT INTO Stations (Station_Code, METEO_Code, Station_Name)
VALUES (?, ?, ?);
'''

# Iterate through the DataFrame and insert each row into the database
for index, row in station_data.iterrows():
    # insert station_code, METEO_code, station_name, id is autoincrement
    cursor.execute(insert_query, (row['station_code'], row['METEO_code'], row['name']))

# Commit the changes and close the database connection
conn.commit()
conn.close()

## SDT ship

#### SDT data

In [ ]:
headers_s_d_t = [
    "Kod stacji", "Nazwa stacji", "Rok", "Miesiąc", "Dzień",
    "Średnie dobowe zachmurzenie ogólne [oktanty]", "Status pomiaru NOS",
    "Średnia dobowa prędkość wiatru [m/s]", "Status pomiaru FWS",
    "Średnia dobowa temperatura [°C]", "Status pomiaru TEMP",
    "Średnia dobowe ciśnienie pary wodnej [hPa]", "Status pomiaru CPW",
    "Średnia dobowa wilgotność względna [%]", "Status pomiaru WLGS",
    "Średnia dobowe ciśnienie na poziomie stacji [hPa]", "Status pomiaru PPPS",
    "Średnie dobowe ciśnienie na pozimie morza [hPa]", "Status pomiaru PPPM",
    "Suma opadu dzień  [mm]", "Status pomiaru WODZ",
    "Suma opadu noc   [mm]", "Status pomiaru WONO"
]

In [ ]:
s_d_t_columns = [
            'Kod stacji', 'Rok', 'Miesiąc', 'Dzień',
            'Średnie dobowe zachmurzenie ogólne [oktanty]',
            'Średnia dobowa prędkość wiatru [m/s]'
        ]

In [33]:
import pandas as pd
import sqlite3
import os

# Directory containing the CSV files
directory = 'data/synop/imgw/2022'

# Function to read CSV and return DataFrame
def load_csv(file_path, headers, nan_values=['8', '9', '']):
    # na_values are "8", "9", and empty strings not 8.0, 9.0
    data = pd.read_csv(file_path, header=None, encoding='ISO-8859-1', names=headers)

    # Convert '8' and '9' strings to NaN manually after loading, they have to be strings
    data = data.map(
        lambda x: pd.NA if x in nan_values else x
    )
    return data



# Function to process and insert data for s_d_t_ files
def process_sdt(file_path, conn):
    # Load CSV data
    data = load_csv(file_path, headers_s_d_t)

    # Prepare SQL insert query
    insert_query = '''
    INSERT INTO WeatherSDT (Station_ID, Date, Avg_Daily_Overall_Cloudiness, Avg_Daily_Wind_Speed)
    VALUES (?, ?, ?, ?);
    '''

    # Iterate through the DataFrame and insert each row into the database
    for index, row in data.iterrows():

        # get station_id from station table
        station_id = row['Kod stacji']
        # get date
        date = f"{int(row['Rok']):04d}-{int(row['Miesiąc']):02d}-{int(row['Dzień']):02d}"
        # get avg_daily_overall_cloudiness
        avg_daily_overall_cloudiness = row['Średnie dobowe zachmurzenie ogólne [oktanty]']
        # get avg_daily_wind_speed
        avg_daily_wind_speed = row['Średnia dobowa prędkość wiatru [m/s]']
        # insert into table
        conn.execute(insert_query, (station_id, date, avg_daily_overall_cloudiness, avg_daily_wind_speed))
        
    # Commit changes to the database
    conn.commit()


def main():
    directory = 'data/synop/imgw/2022'
    conn = sqlite3.connect('data/synop/synop.db')

    # Clear existing data
    conn.execute('DELETE FROM WeatherSDT')
    conn.commit()

    # Process files
    for filename in os.listdir(directory):
        if filename.startswith('s_d_t_'):
            file_path = os.path.join(directory, filename)
            process_sdt(file_path, conn)

    # Close database connection
    conn.close()

if __name__ == '__main__':
    main()

## Zip links to csv files

In [ ]:
import pandas as pd
import requests
import zipfile
import os
from io import BytesIO
from tempfile import TemporaryDirectory

In [ ]:
# Directory to extract files
extract_path = 'data/synop/imgw/2022'

In [ ]:
# create directory for zip files
os.makedirs('data/synop/imgw/2022', exist_ok=True)

In [ ]:
df3['METEO_code'].values.dtype

dtype('int64')

In [ ]:
len(df3['METEO_code'].values)

25

In [ ]:
# Process each URL
for url in urls:
    # Extract METEO code from URL
   # example url:  'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/synop/2022/2022_280_s.zip',
    meteo_code = int(url.split('_')[-2])

    # Check if METEO code is in DataFrame
    if meteo_code in df3['METEO_code'].values:

        print(f"Processing METEO code {meteo_code}")

        # Download zip file
        response = requests.get(url)
        if response.status_code == 200:
            
            # Use a temporary directory to handle the zip file
            with TemporaryDirectory() as tmpdirname:
                zip_path = os.path.join(tmpdirname, 'tempfile.zip')
                with open(zip_path, 'wb') as f:
                    f.write(response.content)
                
                # Extract zip file
                with zipfile.ZipFile(zip_path, 'r') as zip_ref:
                    zip_ref.extractall(extract_path)

        else:
            print(f"Failed to download from {url}")

Processing METEO code 100
Processing METEO code 105
Processing METEO code 195
Processing METEO code 205
Processing METEO code 235
Processing METEO code 250
Processing METEO code 280
Processing METEO code 295
Processing METEO code 300
Processing METEO code 330
Processing METEO code 375
Processing METEO code 399
Processing METEO code 400
Processing METEO code 435
Processing METEO code 465
Processing METEO code 497
Processing METEO code 500
Processing METEO code 510
Processing METEO code 520
Processing METEO code 530
Processing METEO code 560
Processing METEO code 566
Processing METEO code 625
Processing METEO code 650
Processing METEO code 690

## SD ship

#### SD data

In [ ]:
headers_s_d = [
    "Kod stacji",
    "Nazwa stacji",
    "Rok",
    "Miesiąc",
    "Dzień",
    "Maksymalna temperatura dobowa [°C]",
    "Status pomiaru TMAX",
    "Minimalna temperatura dobowa [°C]",
    "Status pomiaru TMIN",
    "Średnia temperatura dobowa [°C]",
    "Status pomiaru STD",
    "Temperatura minimalna przy gruncie [°C]",
    "Status pomiaru TMNG",
    "Suma dobowa opadu [mm]",
    "Status pomiaru SMDB",
    "Rodzaj opadu [S/W/ ]",
    "Wysokość pokrywy śnieżnej [cm]",
    "Status pomiaru PKSN",
    "Równoważnik wodny śniegu  [mm/cm]",
    "Status pomiaru RWSN",
    "Usłonecznienie [godziny]",
    "Status pomiaru USL",
    "Czas trwania opadu deszczu [godziny]",
    "Status pomiaru DESZ",
    "Czas trwania opadu śniegu [godziny]",
    "Status pomiaru SNEG",
    "Czas trwania opadu deszczu ze śniegiem [godziny]",
    "Status pomiaru DISN",
    "Czas trwania gradu [godziny]",
    "Status pomiaru GRAD",
    "Czas trwania mgły [godziny]",
    "Status pomiaru MGLA",
    "Czas trwania zamglenia  [godziny]",
    "Status pomiaru ZMGL",
    "Czas trwania sadzi [godziny]",
    "Status pomiaru SADZ",
    "Czas trwania gołoledzi [godziny]",
    "Status pomiaru GOLO",
    "Czas trwania zamieci śnieżnej niskiej [godziny]",
    "Status pomiaru ZMNI",
    "Czas trwania zamieci śnieżnej wysokiej [godziny]",
    "Status pomiaru ZMWS",
    "Czas trwania zmętnienia [godziny]",
    "Status pomiaru ZMET",
    "Czas trwania wiatru >=10m/s [godziny]",
    "Status pomiaru FF10",
    "Czas trwania wiatru >15m/s [godziny]",
    "Status pomiaru FF15",
    "Czas trwania burzy  [godziny]",
    "Status pomiaru BRZA",
    "Czas trwania rosy  [godziny]",
    "Status pomiaru ROSA",
    "Czas trwania szronu [godziny]",
    "Status pomiaru SZRO",
    "Wystąpienie pokrywy śnieżnej  [0/1]",
    "Status pomiaru DZPS",
    "Wystąpienie błyskawicy  [0/1]",
    "Status pomiaru DZBL",
    "Stan gruntu [Z/R]",
    "Izoterma dolna  [cm]",
    "Status pomiaru IZD",
    "Izoterma górna [cm]",
    "Status pomiaru IZG",
    "Aktynometria [J/cm2]",
    "Status pomiaru AKTN"
]

In [ ]:
s_d_columns = [
            'Kod stacji', 'Rok', 'Miesiąc', 'Dzień',
            'Maksymalna temperatura dobowa [°C]', 'Minimalna temperatura dobowa [°C]',
            'Średnia temperatura dobowa [°C]', 'Suma dobowa opadu [mm]',
            'Usłonecznienie [godziny]', 'Aktynometria [J/cm2]',
            'Czas trwania wiatru >=10m/s [godziny]'
        ]

In [34]:
import pandas as pd
import sqlite3
import os


# Function to insert data into the WeatherSD table
def insert_into_weather_sd(data, conn):
    insert_query = '''
    INSERT INTO WeatherSD (Station_ID, Date, Max_Daily_Temperature, Min_Daily_Temperature, Avg_Daily_Temperature,
                           Total_Daily_Precipitation, Sunshine_Hours, Actinometry, Wind_Duration_Over_10m_s)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?);
    '''

    for index, row in data.iterrows():
        date = f"{int(row['Rok']):04d}-{int(row['Miesiąc']):02d}-{int(row['Dzień']):02d}"
        data_tuple = (
            row['Kod stacji'], date, row['Maksymalna temperatura dobowa [°C]'], row['Minimalna temperatura dobowa [°C]'],
            row['Średnia temperatura dobowa [°C]'], row['Suma dobowa opadu [mm]'], row['Usłonecznienie [godziny]'],
            row['Aktynometria [J/cm2]'], row['Czas trwania wiatru >=10m/s [godziny]']
        )
        conn.execute(insert_query, data_tuple)

    conn.commit()

# Main function to manage the overall process
def main():
    directory = 'data/synop/imgw/2022'

    conn = sqlite3.connect('data/synop/synop.db')
    conn.execute('DELETE FROM WeatherSD')  # Clear the table before new inserts
    conn.commit()

    # Process each relevant file
    for filename in os.listdir(directory):
        if filename.startswith('s_d_') and not filename.startswith('s_d_t_'):
            file_path = os.path.join(directory, filename)
            data = load_csv(file_path, headers_s_d)
            data = data[s_d_columns]
            insert_into_weather_sd(data, conn)

    conn.close()

if __name__ == '__main__':
    main()

## Create view that combines both of the tables
- WeatherView

In [35]:
# create new view
def create_weather_view():
    # Connect to the SQLite database
    conn = sqlite3.connect('data/synop/synop.db')
    cursor = conn.cursor()

    # Drop the existing view if it exists
    cursor.execute('DROP VIEW IF EXISTS WeatherView')

    # Create a new view that calculates the average daily temperature and total daily precipitation
    cursor.execute('''
    CREATE VIEW IF NOT EXISTS WeatherView AS
    SELECT sd.Station_ID, sd.Date, sd.Max_Daily_Temperature, sd.Min_Daily_Temperature, sd.Avg_Daily_Temperature,
        sd.Total_Daily_Precipitation, sd.Sunshine_Hours, sd.Actinometry, sdt.Avg_Daily_Overall_Cloudiness,
        sd.Wind_Duration_Over_10m_s, sdt.Avg_Daily_Wind_Speed
    FROM WeatherSD sd
    JOIN WeatherSDT sdt ON sd.Station_ID = sdt.Station_ID AND sd.Date = sdt.Date;
    ''')

    # Commit changes and close the database connection
    conn.commit()
    conn.close()

if __name__ == '__main__':
    create_weather_view()

## Load electricity data into db

In [36]:
import csv

# Connect to your SQLite database
conn = sqlite3.connect('data/synop/synop.db')
cursor = conn.cursor()


# Create a table for the electricity data
cursor.execute('''
    CREATE TABLE IF NOT EXISTS ElectricityData (
        Datetime TEXT,
        Country TEXT,
        ZoneName TEXT,
        ZoneId TEXT,
        CarbonIntensityDirect REAL,
        CarbonIntensityLCA REAL,
        LowCarbonPercentage REAL,
        RenewablePercentage REAL,
        DataSource TEXT
    )
''')

# Path to your CSV file
csv_file_path = 'data/electricity/PL_2022_daily.csv'  # Replace with the path to your CSV file

# Read CSV file and insert data into the table
with open(csv_file_path, 'r') as file:
    # Create a CSV reader object
    csv_reader = csv.DictReader(file)
    
    # Prepare a list of tuples from the CSV rows
    electricity_data = [(row['Datetime (UTC)'], row['Country'], row['Zone Name'], row['Zone Id'],
                         float(row['Carbon Intensity gCO₂eq/kWh (direct)']),
                         float(row['Carbon Intensity gCO₂eq/kWh (LCA)']),
                         float(row['Low Carbon Percentage']),
                         float(row['Renewable Percentage']),
                         row['Data Source']) for row in csv_reader]
    
    # SQL query to insert data
    insert_query = '''
        INSERT INTO ElectricityData (Datetime, Country, ZoneName, ZoneId, CarbonIntensityDirect, CarbonIntensityLCA, LowCarbonPercentage, RenewablePercentage, DataSource)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
    '''
    
    # Execute the insert query
    cursor.executemany(insert_query, electricity_data)

# Commit changes and close the connection
conn.commit()
conn.close()

## Aggregate station data

In [37]:

query = '''
SELECT
    Date,
    AVG(Max_Daily_Temperature) AS Avg_Max_Temp,
    AVG(Min_Daily_Temperature) AS Avg_Min_Temp,
    AVG(Avg_Daily_Temperature) AS Avg_Temp,
    AVG(Total_Daily_Precipitation) AS Avg_Precipitation,
    AVG(Sunshine_Hours) AS Avg_Sunshine_Hours,
    AVG(Actinometry) AS Avg_Actinometry,
    AVG(Avg_Daily_Overall_Cloudiness) AS Avg_Cloudiness,
    AVG(Wind_Duration_Over_10m_s) AS Avg_Wind_Duration_Over_10m_s,
    AVG(Avg_Daily_Wind_Speed) AS Avg_Wind_Speed
FROM
    WeatherCombined
GROUP BY
    Date
ORDER BY
    Date;
'''

# Connect to the SQLite database
conn = sqlite3.connect('data/synop/synop.db')
cursor = conn.cursor()

# Execute the query
cursor.execute(query)

# fetch all results
aggregated_data = cursor.fetchall()

# convert to DataFrame
df = pd.DataFrame(aggregated_data, columns=[x[0] for x in cursor.description])

# Close the database connection
conn.close()

df.head()

,Date,Avg_Max_Temp,Avg_Min_Temp,Avg_Temp,Avg_Precipitation,Avg_Sunshine_Hours,Avg_Actinometry,Avg_Cloudiness,Avg_Wind_Duration_Over_10m_s,Avg_Wind_Speed
0,2022-01-01,9.800,6.168,7.452,2.772,0.016,0.0,4.972,1.096,4.884
1,2022-01-02,9.412,3.376,6.632,4.856,0.828,0.0,4.156,1.472,4.332
2,2022-01-03,9.488,5.128,6.576,3.340,0.412,0.0,3.728,1.380,5.692
3,2022-01-04,7.044,3.596,5.268,3.744,0.048,0.0,4.100,1.908,4.252
4,2022-01-05,6.632,0.740,2.648,2.800,0.344,0.0,3.952,1.232,4.404

## Join with Electricity data

In [38]:
import sqlite3
import pandas as pd  # Make sure to import pandas for DataFrame functionality

# Connect to the SQLite database
conn = sqlite3.connect('data/synop/synop.db')
cursor = conn.cursor()

# SQL query to join aggregated WeatherCombined data with ElectricityData
join_query = """
SELECT
    agg.Date,
    agg.Avg_Max_Temp,
    agg.Avg_Min_Temp,
    agg.Avg_Temp,
    agg.Avg_Precipitation,
    agg.Avg_Sunshine_Hours,
    agg.Avg_Actinometry,
    agg.Avg_Cloudiness,
    agg.Avg_Wind_Duration_Over_10m_s,
    agg.Avg_Wind_Speed,
    elec.RenewablePercentage
FROM
    (
    SELECT
        Date,
        AVG(Max_Daily_Temperature) AS Avg_Max_Temp,
        AVG(Min_Daily_Temperature) AS Avg_Min_Temp,
        AVG(Avg_Daily_Temperature) AS Avg_Temp,
        AVG(Total_Daily_Precipitation) AS Avg_Precipitation,
        AVG(Sunshine_Hours) AS Avg_Sunshine_Hours,
        AVG(Actinometry) AS Avg_Actinometry,
        AVG(Avg_Daily_Overall_Cloudiness) AS Avg_Cloudiness,
        AVG(Wind_Duration_Over_10m_s) AS Avg_Wind_Duration_Over_10m_s,
        AVG(Avg_Daily_Wind_Speed) AS Avg_Wind_Speed
    FROM
        WeatherCombined
    GROUP BY
        Date
    ) AS agg
JOIN
    ElectricityData AS elec
ON
    strftime('%Y-%m-%d', agg.Date) = strftime('%Y-%m-%d', elec.Datetime)
ORDER BY
    agg.Date;
"""

# Execute the join query
cursor.execute(join_query)

# Fetch all results
joined_data = cursor.fetchall()

# create df out of joined_data
df = pd.DataFrame(joined_data, columns=[x[0] for x in cursor.description])

# Close the database connection
conn.close()

In [39]:
df

,Date,Avg_Max_Temp,Avg_Min_Temp,Avg_Temp,Avg_Precipitation,Avg_Sunshine_Hours,Avg_Actinometry,Avg_Cloudiness,Avg_Wind_Duration_Over_10m_s,Avg_Wind_Speed,RenewablePercentage
0,2022-01-01,9.800,6.168,7.452,2.772,0.016,0.0,4.972,1.096,4.884,25.09
1,2022-01-01,9.800,6.168,7.452,2.772,0.016,0.0,4.972,1.096,4.884,25.09
2,2022-01-02,9.412,3.376,6.632,4.856,0.828,0.0,4.156,1.472,4.332,36.38
3,2022-01-02,9.412,3.376,6.632,4.856,0.828,0.0,4.156,1.472,4.332,36.38
4,2022-01-03,9.488,5.128,6.576,3.340,0.412,0.0,3.728,1.380,5.692,30.61
...,...,...,...,...,...,...,...,...,...,...,...
725,2022-12-29,8.196,2.692,5.348,0.556,1.448,0.0,1.676,1.652,5.040,41.22
726,2022-12-30,7.880,2.188,4.768,0.208,3.600,0.0,1.172,1.192,4.168,41.46
727,2022-12-30,7.880,2.188,4.768,0.208,3.600,0.0,1.172,1.192,4.168,41.46
728,2022-12-31,12.340,1.856,8.452,0.884,0.736,0.0,1.592,1.860,5.452,48.46
729,2022-12-31,12.340,1.856,8.452,0.884,0.736,0.0,1.592,1.860,5.452,48.46

## Clean df a bit

In [40]:
# round to 2 decimal places
# df = df.round(2)

## Feature Engineering

In [41]:
# Date transformations
df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = df['Date'].dt.month
df['DayOfWeek'] = df['Date'].dt.dayofweek

# Interaction terms
df['Temp_Range'] = df['Avg_Max_Temp'] - df['Avg_Min_Temp']

# Normalization or scaling
# from sklearn.preprocessing import MinMaxScaler
# scaler = MinMaxScaler()
# df[['Avg_Max_Temp', 'Avg_Min_Temp', 'Avg_Temp']] = scaler.fit_transform(df[['Avg_Max_Temp', 'Avg_Min_Temp', 'Avg_Temp']])

In [42]:
df

,Date,Avg_Max_Temp,Avg_Min_Temp,Avg_Temp,Avg_Precipitation,Avg_Sunshine_Hours,Avg_Actinometry,Avg_Cloudiness,Avg_Wind_Duration_Over_10m_s,Avg_Wind_Speed,RenewablePercentage,Month,DayOfWeek,Temp_Range
0,2022-01-01,9.800,6.168,7.452,2.772,0.016,0.0,4.972,1.096,4.884,25.09,1,5,3.632
1,2022-01-01,9.800,6.168,7.452,2.772,0.016,0.0,4.972,1.096,4.884,25.09,1,5,3.632
2,2022-01-02,9.412,3.376,6.632,4.856,0.828,0.0,4.156,1.472,4.332,36.38,1,6,6.036
3,2022-01-02,9.412,3.376,6.632,4.856,0.828,0.0,4.156,1.472,4.332,36.38,1,6,6.036
4,2022-01-03,9.488,5.128,6.576,3.340,0.412,0.0,3.728,1.380,5.692,30.61,1,0,4.360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,2022-12-29,8.196,2.692,5.348,0.556,1.448,0.0,1.676,1.652,5.040,41.22,12,3,5.504
726,2022-12-30,7.880,2.188,4.768,0.208,3.600,0.0,1.172,1.192,4.168,41.46,12,4,5.692
727,2022-12-30,7.880,2.188,4.768,0.208,3.600,0.0,1.172,1.192,4.168,41.46,12,4,5.692
728,2022-12-31,12.340,1.856,8.452,0.884,0.736,0.0,1.592,1.860,5.452,48.46,12,5,10.484
729,2022-12-31,12.340,1.856,8.452,0.884,0.736,0.0,1.592,1.860,5.452,48.46,12,5,10.484

In [43]:
# save to csv
df.to_csv('data/joined_data.csv', index=False)